{
    "presets": [
        "env",
        "stage-0",
        "react"
    ], 
    "plugins": [
        "dynamic-import-node"
    ],
    "env": {
        "test": {
            "presets": [
                ["env"], 
                "stage-0",
                "react"
            ]
        }
    }
}